* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: auto;
}

.container .beneficios {
    display: flex;
}

.container .beneficios .card {
    width: 300px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
}

.container .beneficios .card img {
    width: 100%;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .container .beneficios {
        flex-wrap: wrap;
    }

    .container .beneficios .card {
        width: 45%;
    }
}

@media (max-width: 420px) {
    .container {
        width: 100%;
    }

    .container .beneficios .card {
        width: 100%;
    }
}